
<div class="container-fluid">
    <div class="row">
        <div class="col-12 border bg-info text-center ms-auto me-auto mt-3 pt-3 pb-3" style="width: 800px;">
            <h3 class="pb-2">Hasta luego {{name}} </h3>
        </div>
    </div>
</div>        