<div class="container-fluid">
    <div class="row col-12">
        <h1 class="mt-3 mb-4 text-center">Registro de usuario</h1>
    </div>            

    <div class="row col-12 mt-2 justify-content-center">
        <form class="border w-75 ms-3 p-3 justify-content-center" action="/register" method="post">
            <div class='w-75 mx-auto'>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" id="name" placeholder="ingresa tu nombre" name="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="passw" class="form-label">Contraseña</label>
                    <input type="password" id="passUser" placeholder="ingresa tu contraseña" name="passw" class="form-control">
                </div>
            </div>
            <button>Aceptar</button>
        </form>
    </div>
</div>        