
<div class="container-fluid">
            {{#if listaProductos}}
                <h1 class="text-center mt-3 mb-3">Lista de Productos</h1>
                <table class="table table-success table-striped w-75 table-bordered mt-5 text-center mx-auto">
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th class="w-25">Imagen</th>
                    </tr>
                    {{#each listaProductos}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.price}}</td>
                            <td>
                                <img src="{{this.img}}"class="w-25 h-25">
                            </td>
                        </tr>
                    {{/each}}    
                </table>
                {{else}}
                    <h2 class="bg-danger w-50 mt-5 p-3 mx-auto text-center">No se encontraron productos</h2>
            {{/if}}

            <a href="http://localhost:8080" class="btn btn-success mt-5">Volver a formulario</a>
        </div>