<div class="row col-12 justify-content-center text-center">
    <form onsubmit="return nuevoMensaje(this)" class="border w-75 ms-3 p-3 justify-content-center d-block">
        <input type="text" id="mail" placeholder="Ingresa tu mail" style="width:40% ;">
        <input type="text" id="mensaje" placeholder="Ingresa tu mensaje" style="width:50%">
        <input type="submit" value="Enviar">
    </form>
</div>

<div id="lista-mensajes" class="row col-12 justify-content-center"></div>