
<div class="table-list row col-12 justify-content-center">
    <table class="table table-success table-striped w-75 table-bordered mt-1 text-center ms-3">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th class="w-25">Imagen</th>
                </tr>
            </thead>
            <tbody id="newProd">
                {{#each listaProductos}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img src="{{this.img}}"class="w-25 h-25">
                    </td>
                </tr>
            {{/each}}    
            </tbody>  
        </table>
</div>